html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  font-family: "Bakbak One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeedee;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  font-weight: 200;
  text-align: center;
  color: #000000;
  margin-top: auto;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #24509d;
  font-weight: 700;
}

.alpaca-img-container {
  width: 100%;
  max-width: 550px;
  margin: 0 25px 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alpaca:first-child {
  position: relative;
  width: 100%;
  max-width: 550px;
  margin: 0 25px 20px 25px;
  top: 0;
  left: 0;
}

.alpaca {
  position: absolute;
  width: 100%;
  max-width: 550px;
  top: 0;
  left: 0;
}

h2 {
  margin: 5px 0 10px 0;
  font-size: 30px;
}

.styling-container,
.styling-container > div {
  margin-bottom: 5px;
  width: 100%;
  max-width: 500px;
}

button {
  /* for some reason outline was not adjusting to border-radius on phones
  changed to use a solid box shadow instead */
  background-color: transparent;
  /* outline: 1.5px solid #80b0f8; */
  box-shadow: 0 0 3px 0 #80b0f8;
  font-family: "Inter", sans-serif;
  color: #80b0f8;
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 15px 35px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* box-shadow: none; */
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 800;
  white-space: nowrap;
}

button:hover {
  /* outline: 1.5px solid transparent; */
  border: 2px solid #24509d;
  color: #24509d;
}
.active,
.active:hover {
  /* outline: 1.5px solid transparent; */
  background-color: #24509d;
  color: #eeedee;
}

@media all and (max-width: 850px) {
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: center;
    flex-grow: 1;
  }

  h1 {
    font-size: 40px;
    margin: 0 0 10px;
  }

  button {
    padding: 8px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 18px;
    font-size: 12px;
  }
}

@media all and (max-width: 450px) {
  h1 {
    font-size: 35px;
    margin-top: 30px;
  }
  h2 {
    font-size: 25px;
    margin-left: 10px;
  }

  .alpaca-img-container {
    max-width: 325px;
    margin: 0 0 10px 0;
  }

  .category-container {
    margin: 0;
    width: 100%;
  }

  .style-options-container {
    margin: 0;
  }

  .style-btns-container {
    padding: 2px;
    margin: 0 10px 0 10px;
    display: flex;
    gap: 2vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .category-btns-container {
    padding: 2px;
    margin: 0 10px 0 10px;
    display: flex;
    gap: 2vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    anchor-name: --accesoriesCarousel;
  }

  .carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  .category-btns-container::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: rgb(0 0 0 / 0.7);
    cursor: pointer;
    position: absolute;
    position-anchor: --accesoriesCarousel;
  }

  .category-btns-container::scroll-button(*):hover,
  .category-btns-container::scroll-button(*):focus {
    color: rgb(0 0 0 / 1);
  }

  .category-btns-container::scroll-button(*):active {
    translate: 1px 1px;
  }

  .category-btns-container::scroll-button(*):disabled {
    color: rgb(0 0 0 / 0.2);
    cursor: unset;
  }

  .category-btns-container::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) - 30px);
    bottom: calc(anchor(bottom) + 18px);
  }

  .category-btns-container::scroll-button(right) {
    content: "►";
    left: calc(anchor(right) - 45px);
    bottom: calc(anchor(bottom) + 18px);
  }
}
